.vscode/**
.vscode-test/**
.github/**
.venv/**
.venv-*/**
src/**
out/**
docs/**
dev/**
node_modules/**
*.vsix
.gitignore
.gitattributes
.eslintrc.json
jsconfig.json
tsconfig.json
esbuild.js
**/*.map
**/*.ts
